.taskspace {}

.tasks-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.tasks {
    width: 34%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    z-index: 2;
}

.tasks-container-center {
    width: 76.3586957%;
    margin: 0 auto;
}

.tasks-title {
    color: #33334B;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin: 26px 0;
}

.tasks-title-2 {
    color: #33334B;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.tasks-points {
    position: absolute;
    top: 0;
    left: calc(100% + 14.99%);
    bottom: 0;
    width: 255%;
    display: flex;
    align-items: center;
}

.tasks-points-box {
    background: rgba(50, 130, 250, .5);
    border-radius: 22px;
    margin-left: 50px;
    display: flex;
}

.tasks-points-line {
    background: #3282FA;
    height: 22px;
    border-radius: 22px;
    display: flex;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    align-items: center;
}

.tasks-points-item {
    padding: 0 5px;
}

.tasks-points-item span {
    border-radius: 22px;
    padding: 0 5px;
    height: 14px;
    display: flex;
    align-items: center;
}

.tasks-points-item span.active {
    background: #FF9C65;
}

.tasks-points-item span.opacity {
    color: rgba(255, 255, 255, .5)
}

.box-task {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(219, 219, 219, 0) 100%);
    border-radius: 4px;
    margin-left: -30px;
    margin-right: 12px;
}

.box-task:hover {
    color: #33334B;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(203, 203, 203, 0.5) 100%);
}

.tasks-title-2>span {
    color: #A1A1A1;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-left: 4px;
}

.block-with-tasks {
    display: flex;
    flex-direction: column;
}

.one-task {
    color: #33334B;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    margin: 20px 0;
    position: relative;
}

.one-task span {
    position: relative;
    z-index: 2;
}

.one-task:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E7E7E7;
    margin-left: -14.99%;
    margin-right: -269.5%;
    opacity: 0;
    transition: opacity .2s;
}

.one-task:hover:before {
    opacity: .5;
}

.one-task:first-child {
    margin: 0 0 20px 0;
}

.matrix {
    width: 66%;
    background: #F3F3F3;
    display: flex;
}

.matrix-item {
    flex: 1;
    display: flex;
    position: relative;
}

.matrix-col {
    flex: 1;
    position: relative;
}

.matrix-col:before {
    content: "";
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #D9D9D9;
}

.matrix-col.active:before {
    width: 2px;
    background: #17B573;
}

.matrix-col.active .matrix-name span {
    background: #17B573;
    color: #fff;
    border-radius: 6px;
    padding: 2px 4px;
}

.matrix-item:first-child .matrix-col:first-child:before {
    background: none;
}

.matrix-item.active .matrix-name,
.matrix-item.active .matrix-year {
    color: #0B0B14;
}

.matrix-name {
    text-align: center;
    height: 30px;
    margin-top: -30px;
    color: #A1A1A1;
    font-size: 12px;
    line-height: 30px;
}

.matrix-year {
    position: absolute;
    top: -60px;
    left: 0;
    color: #A1A1A1;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
}

@media(max-width: 1080px) {
    .tasks-title-2 {
        margin-left: 20px;
    }
    .mini-block-with-tasks {
        margin-left: 20px;
    }
}

@media(max-width: 768px) {
    .tasks {
        width: 50%;
    }
    .matrix {
        width: 50%;
    }
    .tasks-title-2 {
        margin-left: 10px;
    }
    .mini-block-with-tasks {
        margin-left: 10px;
    }
}

@media(max-width: 420px) {
    .taskspace {
        display: none;
    }
}