.taskspace {}

.tasks-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.tasks {
    width: 34%;
}

.tasks-container-center {
    width: 76.3586957%;
    margin: 0 auto;
}

.tasks-title {
    color: #33334B;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin: 26px 0;
}

.tasks-title-2 {
    color: #33334B;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.box-task {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(219, 219, 219, 0) 100%);
    border-radius: 4px;
    margin-left: -30px;
    margin-right: 12px;
}

.box-task:hover {
    color: #33334B;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(203, 203, 203, 0.5) 100%);
}

.tasks-title-2>span {
    color: #A1A1A1;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-left: 4px;
}

.block-with-tasks {
    display: flex;
    flex-direction: column;
}

.one-task {
    color: #33334B;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    margin: 20px 0;
}

.one-task:first-child {
    margin: 0 0 20px 0;
}

.matrix {
    width: 66%;
}

.matrix img {
    width: 100%;
    display: block;
}